{% load staticfiles %}
<html>
<head>
     <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/sdgoals.css' %}">
</head>
<body>
  <div class="container">
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 1"><a href="/sdg/no_poverity"><img src="{% static 'mysite/png/img.png' %}" alt="icon of goal 1"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 2"><a href="/sdg/zero_hunger"><img src="{% static 'mysite/png/sdg-en-02.png' %}" alt="icon of goal 2"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 3"><a href="/sdg/health"><img src="{% static 'mysite/png/sdg-en-03.png' %}" alt="icon of goal 3"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 4"><a href="/sdg/quality_education/"><img src="{% static 'mysite/png/sdg-en-04.png' %}" alt="icon of goal 4"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 5"><a href="/sdg/gender_equality/"><img src="{% static 'mysite/png/sdg-en-05.png' %}" alt="icon of goal 5"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 6"><a href="/sdg/water_goals/"><img src="{% static 'mysite/png/sdg-en-06.png' %}" alt="icon of goal 6"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 7"><a href="/sdg/clean_energy/"><img src="{% static 'mysite/png/sdg-en-07.png' %}" alt="icon of goal 7"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 8"><a href="/sdg/decent_work/"><img src="{% static 'mysite/png/sdg-en-08.png' %}" alt="icon of goal 8"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 8"><a href="/sdg/industry_innovation/"><img src="{% static 'mysite/png/sdg-en-09.png' %}" alt="icon of goal 8"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 8"><a href="/sdg/reduced_inequalities/"><img src="{% static 'mysite/png/sdg-en-10.png' %}" alt="icon of goal 8"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 8"><a href="/sdg/sustainaible_cities/"><img src="{% static 'mysite/png/sdg-en-11.png' %}" alt="icon of goal 8"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 8"><a href="/sdg/responsible_consumption/"><img src="{% static 'mysite/png/sdg-en-12.png' %}" alt="icon of goal 8"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 8"><a href="/sdg/climate_action/"><img src="{% static 'mysite/png/sdg-en-13.png' %}" alt="icon of goal 8"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 8"><a href="/sdg/water_life/"><img src="{% static 'mysite/png/sdg-en-14.png' %}" alt="icon of goal 8"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 8"><a href="/sdg/life_on_land/"><img src="{% static 'mysite/png/sdg-en-15.png' %}" alt="icon of goal 8"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 8"><a href="/sdg/peace_justice/"><img src="{% static 'mysite/png/sdg-en-16.png' %}" alt="icon of goal 8"></a></div>
    <div class="bockx" data-tooltip aria-haspopup="true" title="Goal 8"><a href="/sdg/partnerships_for_goals/"><img src="{% static 'mysite/png/sdg-en-17.png' %}" alt="icon of goal 8"></a></div>
  </div>
   
    
</body>

</html>
